<span>
  <% answers.includes(:question).order(:question_id).each do |answer| %>
    <%= link_to answer.initial, "#", title: "#{answer.question.category}", onclick: "return false;" %>
  <% end %>
</span>