<header class="admin-header container">
    <div class="toggle">
        <%= link_to "Responses", surveys_url, class: "active-toggle" %>
        <%= link_to "Questions", questions_url, class: "inactive-toggle" %>
        <%= link_to "Charts", charts_url, class: "inactive-toggle" %>
    </div>
    <div>
        <%= link_to "Sign out", logout_path, class: 'new logout' %>
    </div>
</header>
<section class="container">
    <table class="table-striped" data-controller="datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Company ID</th>
          <th>Score</th>
          <th>Answers</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= survey.name %></td>
            <td><%= survey.email %></td>
            <td><%= link_to survey.team_name, company_results_surveys_path(survey.team_id) %></td>
            <td><%= survey.score %></td>
            <td><%= render 'mini_answers', answers: survey.answers %></td>
            <td>
              <%= link_to 'View score', survey %>
              <%= link_to 'Edit', edit_survey_path(survey) %>
              <%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>
