<section class="question-container">
    <div class="logo-question">
        <%= image_tag 'dd_logo.svg', class: 'dd_logo', alt: 'disruption diagnostic logo' %>
    </div>

    <section class="container question">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
              style="width: <%= number_to_percentage(@progress_pct, precision: 0) %>">
            </div>
        </div>

        <div class="wrapper">
            <p class="question-text">More About You</p>

            <%= form_with model: @survey, class: 'responses', url: about_yous_path, method: :patch do |form| %>
                <p class="my-2"><strong>How likely are you to use the feedback from the S Curve Locator as a decision aid in defining your next steps and/or managing your career path?</strong></p>
                <%= form.radio_button :intention_to_use_feedback, 'very_likely', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "intention_to_use_feedback_very_likely", "Very Likely" %><br>
                <%= form.radio_button :intention_to_use_feedback, 'likely', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "intention_to_use_feedback_likely", "Likely" %><br>
                <%= form.radio_button :intention_to_use_feedback, 'neutral', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "intention_to_use_feedback_neutral", "Neutral" %><br>
                <%= form.radio_button :intention_to_use_feedback, 'unlikely', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "intention_to_use_feedback_unlikely", "Unlikely" %><br>
                <%= form.radio_button :intention_to_use_feedback, 'very_unlikely', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "intention_to_use_feedback_very_unlikely", "Very unlikely" %><br>

                <p class="my-2"><strong>Based on the outputs of the S Curve Locator, what next steps are you going to take? What next steps would you want help defining or putting into action?</strong></p>
                <%= form.text_area :next_steps, class: 'form-control', onchange: '$(this.form).trigger("submit.rails");' %>

                <p class="my-2"><strong>What information would you want more of? What information would you want less of?</strong></p>
                <%= form.text_area :what_information, class: 'form-control', onchange: '$(this.form).trigger("submit.rails");' %>

                <p class="my-2"><strong>If you are not likely to use the output, why and what would make it more useful for you?</strong></p>
                <%= form.text_area :how_can_we_improve, class: 'form-control', onchange: '$(this.form).trigger("submit.rails");' %>
            <% end %>

            <div class="prev-next-buttons">
                <%= link_to "Back", about_you_1_path %>
                <%= link_to "See results", results_path %>
            </div>
        </div>
    </section>

</section>
