<section class="question-container">
    <div class="logo-question">
        <%= image_tag 'dd_logo.svg', class: 'dd_logo', alt: 'disruption diagnostic logo' %>
    </div>

    <section class="container question">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
              style="width: <%= number_to_percentage(@progress_pct, precision: 0) %>">
            </div>
        </div>

        <div class="wrapper">
            <p class="question-text">About You</p>

            <%= form_with model: @survey, class: 'responses', url: about_yous_path, method: :patch do |form| %>
                <p class="my-2"><strong>Share Your Age</strong></p>
                <%= form.radio_button :age, '17', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "age_17", "17 years or younger" %><br>
                <%= form.radio_button :age, '18-24', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "age_18-24", "18-24" %><br>
                <%= form.radio_button :age, '25-34', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "age_25-34", "25-34" %><br>
                <%= form.radio_button :age, '35-44', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "age_35-44", "35-44" %><br>
                <%= form.radio_button :age, '45-54', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "age_45-54", "45-54" %><br>
                <%= form.radio_button :age, '55-64', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "age_55-64", "55-64" %><br>
                <%= form.radio_button :age, '65-74', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "age_65-74", "65-74" %><br>
                <%= form.radio_button :age, '75-up', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "age_75-up", "75 or older" %><br>
                <%= form.radio_button :age, 'not_disclosed', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "age_not_disclosed", "Prefer not to answer" %><br>

                <p class="my-2"><strong>Please indicate your industry or department.</strong></p>
                <%= form.text_field :industry, class: 'form-control', onchange: '$(this.form).trigger("submit.rails");' %>

                <p class="my-2"><strong>How long have you held your current role?</strong></p>
                <%= form.radio_button :how_long_in_role, 'less_than_1', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "how_long_in_role_less_than_1", "Less than a year" %><br>
                <%= form.radio_button :how_long_in_role, '1-2', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "how_long_in_role_1-2", "1-2 years" %><br>
                <%= form.radio_button :how_long_in_role, '3-4', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "how_long_in_role_3-4", "3-4 years" %><br>
                <%= form.radio_button :how_long_in_role, '5-6', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "how_long_in_role_5-6", "5-6 years" %><br>
                <%= form.radio_button :how_long_in_role, '6-up', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "how_long_in_role_6-up", "more than 6 years" %><br>

                <p class="my-2"><strong>Please indicate your gender.</strong></p>
                <%= form.radio_button :gender, 'female', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "gender_female", "Female" %><br>
                <%= form.radio_button :gender, 'male', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "gender_male", "Male" %><br>
                <%= form.radio_button :gender, 'not_disclosed', onchange: '$(this.form).trigger("submit.rails");' %> <%= form.label "gender_not_disclosed", "Prefer not to answer" %><br>
            <% end %>

            <div class="prev-next-buttons">
                <%= link_to "Back", q_path(Question.end) %>
                <%= link_to "Next", about_you_2_path %>
            </div>
        </div>
    </section>

</section>
