<section class="container-home">
    <header class="container log-in w-100">
        <div class="logo">
            <%= image_tag 'dd_logo.svg', class: 'dd_logo', alt: 'disruption diagnostic logo' %>
        </div>
        <h1 class="container center title">Dare to disrupt yourself!</h1>
    </header>

    <div class="container w-100">
      <%= form_with model: @survey, class: 'intro visitor-intro sign-in-pages', url: start_survey_path, local: true do |form| %>

        <% if @survey.errors.any? %>
          <div id="error_explanation">
            <ul class="errors">
            <% @survey.errors.full_messages.each do |message| %>
              <li class="error"><i class="fas fa-exclamation-triangle"></i><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :team_name, "Team Name (optional)"%>
          <%= form.text_field :team_name, class: 'form-control' %>
        </div>

        <div class="form-group remove-margin">
          <%= form.submit "Start", class: 'form-control start-button' %>
        </div>
      <% end %>
    </div>

</section>
