<section class="question-container">
    <div class="logo-question">
        <%= image_tag 'dd_logo.svg', class: 'dd_logo', alt: 'disruption diagnostic logo' %>
    </div>

    <section class="container question">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
              style="width: <%= number_to_percentage(@progress_pct, precision: 0) %>">
            </div>
        </div>

        <div class="wrapper">
            <p class="question-text"><%= @question.category.titleize %></p>
            <p class="question-sub-text"><%= @question.prompt %></p>

            <%= form_with model: @answer, class: 'responses', url: a_path(params[:id]), method: :post do |form| %>
              <% [:low, :mid, :high].shuffle.each do |level| %>
                <p>
                  <%= form.radio_button :answer, level, onchange: '$(this.form).trigger("submit.rails");' %>
                  <%= form.label "answer_#{level}", @question.send(level) %>
                </p>
              <% end %>
            <% end %>

            <div class="prev-next-buttons">
                <% if @page_number == 1 %>
                    <div class="prev-next-buttons reverse">
                        <%= link_to "Next", q_path(@page_number + 1), class: "question-1" %>
                        <div class='page-numbers'>
                            <%= @page_number %>/10
                        </div>
                    </div>
                <% elsif @page_number > 1 %>
                    <%= link_to "Back", q_path(@page_number - 1) %>
                    <div class='page-numbers'>
                        <%= @page_number %>/10
                    </div>
                <% end %>

                <% if @page_number > 1 && @page_number < Question.end %>
                    <%= link_to "Next", q_path(@page_number + 1) %>
                <% elsif @page_number == Question.end %>
                    <%= link_to "Next", about_you_1_path %>
                <% end %>
            </div>
        </div>
    </section>

</section>
