<section class=" red-top">
</section>
<section class="results-container">
    <div class="logo-results">
        <%= image_tag 'dd_logo.svg', class: 'dd_logo', alt: 'disruption diagnostic logo' %>
    </div>
    <div class="results">
        <p class="score-is">Your S curve Score is:</p>
        <h1 id="score"><%= @score || "??" %></h1>
        <p class="score-explain container"><%= score_explanation(@score) %></p>
        <% unless @hide_pdf %>
          <p class="save-as-pdf"><%= link_to "Save as PDF", results_path(format: :pdf), target: 'blank'%></p>
        <% end %>
    </div>
</section>

    <section class="graph-bg">
        <div id="chartContainer">
            <%= image_tag 'graph.png', class: 'graph', alt: 's-score graph' %>
        </div>
    </section>


<section class="results-container">
     <section class="helpful-links">
        <h2>Helpful Links</h2>
        <ul>
            <li><a href="https://hbr.org/2012/09/throw-your-life-a-curve" target="blank">Learn more about the S-curve.</a></li>
            <li><a href="http://amzn.to/2lBMO41" target="blank">Read Chapter 1 of Disrupt Yourself.</a></li>
            <li><a href="http://whitneyjohnson.com/hbr-what-to-do-when-your-personal-growth-stalls/" target="blank">Read What Happens When Personal Growth Stalls.</a></li>
            <li><a href="http://whitneyjohnson.com/linkedin-maybe-woody-allen-was-right-80-of-success-is-just-showing-up/" target="blank">Read more about showing up to new challenges.</a></li>
            <li><a href="http://amzn.to/2lBMO41" target="blank">Read more about "Driving Discovery" in Chapter 7 of Disrupt Yourself.</a></li>
            <li><a href="http://whitneyjohnson.com/make-your-innovative-idea-seem-less-terrifying/" target="blank">As you consider your next move, read How to Make an Innovative Idea Less Terrifying.</a></li>
        </ul>
    </section>


</section>
