<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul class="errors">
      <% resource.errors.full_messages.each do |message| %>
        <li class="error"><i class="fas fa-exclamation-triangle"></i><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
