<header class="admin-header container">
    <div class="toggle">
        <%= link_to "Responses", surveys_url, class: "inactive-toggle" %>
        <%= link_to "Questions", questions_url, class: "inactive-toggle" %>
        <%= link_to "Charts", charts_url, class: "inactive-toggle" %>
        <%= link_to "Orgs", orgs_url, class: "active-toggle" %>
    </div>
    <div>
        <%#= link_to 'New Question', new_question_path, class: "new" %>
        <a class="new logout" href="#logout">Sign out</a>
    </div>
</header>
<section class="container">

  <table class="table table--orgs">
    <thead>
      <tr>
        <th scope="col">Ungrouped Team</th>
        <th scope="col">Add to:</th>
      </tr>
    </thead>
    <tbody>
      <% @random_teams.each do |team| %>
        <tr>
          <td><%= team.name.humanize %></td>
          <td>
            <select class="custom-select" onchange="updateTeam(this)" data-team-id="<%= team.id %>">
              <option selected>Open this select menu</option>
              <% @all_organisations.each do |org| %>
                <option value="<%= org.id %>"><%= org.name.humanize %></option>
              <% end %>
            </select>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row mt-5">
    <div class="col">
      <a href="<%= new_path %>" class="btn btn-outline-primary">+ New Org</a>
    </div>
  </div>

  <% @all_organisations.each do |org| %>

    <table class="table table--orgs mt-5">
      <thead>
        <tr>
          <th><%= org.name.humanize %></th>
          <th>Member of:</th>
        </tr>
      </thead>
      <tbody>
        <% org.teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td>
              <select class="custom-select" onchange="updateTeam(this)" data-team-id="<%= team.id %>">
                <% @all_organisations.each do |org| %>
                  <option value="<%= org.id %>" <%= team.organisation_id == org.id ? "selected" : "" %> ><%= org.name.humanize %></option>
                <% end %>
              </select>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <div class="input-group mb-3 w-50">
              <input type="text" id="team_name-<%= org.id %>"class="form-control" placeholder="New Team" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="addTeam(this)" data-org-id="<%= org.id %>">Add Team</button>
              </div>
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

  <% end %>

</section>


<script type="text/javascript">
  function updateTeam(element){
    team_id = $(element).attr("data-team-id")
    org_id = $(element).val()
    $.ajax({
      url: "<%= update_team_path %>",
      method: "patch",
      data: {team_id: team_id, org_id: org_id},
      success: function(data, response){
        window.location.reload()
      },
      error: function(data, response){
        alert("Error updating team!")
      }
    })
  }
  function addTeam(element){
    org_id = $(element).attr("data-org-id")
    team_name = $("#team_name-"+org_id).val()
    $.ajax({
      url: "<%= create_team_path %>",
      method: "post",
      data: {team_name: team_name, org_id: org_id},
      success: function(data, response){
        window.location.reload()
      },
      error: function(data, response){
        alert("Error creating team!")
      }
    })
  }
</script>