<%= form_with(model: @organisation, class:"intro", local: true, url: create_path) do |form| %>
  <% if @organisation.errors.any? %>
    <div id="error_explanation">
      <ul class="errors">
      <% @organisation.errors.full_messages.each do |message| %>
        <li class="error"><i class="fas fa-exclamation-triangle"></i><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

<div class="actions-container">
  <div class="actions">
    <%= form.submit "Save", class: 'form-control' %>
  </div>
<% end %>
