<div class="container pw-reset">
    <h2>Forgot your password?</h2>

<%= form_for(resource, :html => {:class => 'intro'}, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset instructions" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
