<% content_for :scripts do %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<% end %>

<header class="admin-header container">
    <div class="toggle">
        <%= link_to "Responses", surveys_url, class: "inactive-toggle" %>
        <%= link_to "Questions", questions_url, class: "inactive-toggle" %>
        <%= link_to "Charts", charts_url, class: "active-toggle" %>
    </div>
    <div>
        <%#= link_to 'New Question', new_question_path, class: "new" %>
        <a class="new logout" href="#logout">Sign out</a>
    </div>
</header>

<section class="container">

  <div class="d-flex justify-content-between">
    <div class="form-group">
      <!-- inline styles until this is firm
            TODO: global input styles
      -->
      <select class="form-control category-list" style="font-weight: 700; border: 3px solid; color: black;">
        <option value="age">Age</option>
        <option value="time">Time in Role</option>
      </select>
    </div>
    <div class="d-flex flex-row">
      <div class="active-teams mr-3"></div>
      <div class="">
        <select class="company-team-list" name="state" multiple="multiple">
          <optgroup label="Heinz">
            <option value="Heinz: Operations">Operations</option>
            <option value="Heinz: Design">Design</option>
          </optgroup>
          <optgroup label="Capital One">
            <option value="Capital One: Design">Design</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
  <div id="chart" style="margin: 0 auto"></div>

  <script>

    $(document).ready( function() {

      var buildChart = function(categories, series) {
        chart.xAxis[0].setCategories([
          '1-2',
          '3-4',
          '5-6',
          '6-up'
        ]);
        chart.xAxis[1].setCategories([
          '1-2',
          '3-4',
          '5-6',
          '6-up'
        ]);
        chart.series[0].setData([
          -100,
          -100,
          -100,
          -100
        ]);
        chart.series[1].setData([
          89,
          45,
          25,
          34
        ]);
        chart.redraw();
      };

      var getData = function() {

        console.log('getData called');

        var activeTeamsSelector = $('.company-team-list').find("option:selected");
        var activeTeams = Array.from(activeTeamsSelector).map(option => option.value);

        var activeData = {
          activeCategory: $('.category-list').val(),
          activeTeams: activeTeams
        };

        $.ajax({
          url: '/admin/charts/data',
          dataType: 'json',
          method: 'get',
          data: activeData,
          success: function (data) {
            buildChart(data);
          },
          error: function (data) {
            console.log("error", data);
          }
        });

      };

      $('.company-team-list').select2({
        width: '190px'
      }).on('change', function() {

        console.log('change');

        /*
          Non-standard select2 behavior, but all done via built-in change events.
          This allows us to display the selected options in a different container
          and give them the same behavior as the default elements.
          https://stackoverflow.com/questions/30387473/how-do-i-display-the-selected-tags-in-select2-below-the-dropdown-box
        */

        var $selected = $(this).find('option:selected');
        var $container = $('.active-teams');

        var $list = $('<ul class="list-unstyled">');
        $selected.each(function(k, v) {
          var $li = $('<li class="tag-selected" data-active-team-id="' + k + '"><a class="destroy-tag-selected">×</a>' + $(v).val() + '</li>');
          $li.children('a.destroy-tag-selected')
            .off('click.select2-copy')
            .on('click.select2-copy', function(e) {
              var $opt = $(this).data('select2-opt');
              $opt.prop('selected', false);
              $opt.parents('select').trigger('change');
            }).data('select2-opt', $(v));
          $list.append($li);
        });
        $container.html('').append($list);

      });

      $('.category-list').on('change', function(){
        getData();
      });

      $('.company-team-list').on('change', function(){
        getData();
      });

    });

    var categories = [];
    var series = [];

    // Copy/Paste arrays for dev:
    // '1-2yr', '3-4yr', '5-6yr', '7+'
    // '17', '18-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-up', 'not_disclosed'

    var chart = Highcharts.chart('chart', {
        chart: {
            type: 'column'
        },
        title: {
            text: null
        },
        credits: {
          enabled: false
        },
        exporting: {
          enabled: false
        },
        xAxis: {
            categories: ['17', '18-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-up', 'not_disclosed']
        },
        yAxis: {
            min: 0,
            title: {
                text: null
            },
            reversedStacks: false
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        colors: ['#6610f236', '#6610f2', '#6610f236', '#20c99736', '#20c997', '#20c99736'],
        series: [{
            name: 'Low: Male',
            data: [20, 31, 19, 48, 55, 38, 11, 29, 42],
            stack: 'male'
        }, {
            name: 'Medium: Male',
            data: [30, 42, 74, 32, 22, 12, 34, 57, 45],
            stack: 'male'
        }, {
            name: 'High: Male',
            data: [50, 25, 5, 18, 22, 48, 53, 13, 12],
            stack: 'male'
        }, {
            name: 'Low: Female',
            data: [19, 47, 57, 9, 51, 21, 9, 38, 44],
            stack: 'female'
        }, {
            name: 'Medium: Female',
            data: [41, 45, 7, 54, 37, 54, 66, 36, 1],
            stack: 'female'
        }, {
            name: 'High: Female',
            data: [39, 7, 34, 36, 11, 25, 25, 26, 55],
            stack: 'female'
        }]
    });

  </script>

</section>
