<%= form_with(model: question, class:"intro", local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <ul class="errors">
      <% question.errors.full_messages.each do |message| %>
        <li class="error"><i class="fas fa-exclamation-triangle"></i><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :category %>
    <%= form.text_area :category, rows: 4, class: "form-control wrapping-input" %>
  </div>

  <div class="field form-group">
    <%= form.label :prompt %>
    <%= form.text_area :prompt, rows: 4, class: "form-control wrapping-input" %>
  </div>

  <div class="field form-group">
    <%= form.label :high %>
    <%= form.text_area :high, rows: 4, class: "form-control wrapping-input" %>
  </div>

  <div class="field form-group">
    <%= form.label :mid %>
    <%= form.text_area :mid, rows: 4, class: "form-control wrapping-input" %>
  </div>

  <div class="field form-group remove-margin">
    <%= form.label :low %>
    <%= form.text_area :low, rows: 4, class: "form-control wrapping-input" %>
  </div>
<div class="actions-container">
  <div class="actions">
    <%= form.submit "Save", class: 'form-control' %>
  </div>
<% end %>
