<header class="admin-header container">
    <div class="toggle">
        <%= link_to "Responses", surveys_url, class: "inactive-toggle" %>
        <%= link_to "Questions", questions_url, class: "active-toggle" %>
        <%= link_to "Charts", charts_url, class: "inactive-toggle" %>
    </div>
    <div>
        <%#= link_to 'New Question', new_question_path, class: "new" %>
        <a class="new logout" href="#logout">Sign out</a>
    </div>
</header>
<section class="container">
    <table class="table-striped" data-controller="datatable">
      <thead>
        <tr>
          <th>Number</th>
          <th>Category</th>
          <th>Prompt</th>
          <th>Low</th>
          <th>Mid</th>
          <th>High</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.sort_order %></td>
            <td><%= question.category %></td>
            <td><%= question.prompt %></td>
            <td><%= question.low %></td>
            <td><%= question.mid %></td>
            <td><%= question.high %></td>
            <td><%= link_to 'Edit', edit_question_path(question) %><%#= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>
