<p>
  <strong>Category:</strong>
  <%= @question.category %>
</p>

<p>
  <strong>Prompt:</strong>
  <%= @question.prompt %>
</p>

<p>
  <strong>Low:</strong>
  <%= @question.low %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @question.mid %>
</p>

<p>
  <strong>High:</strong>
  <%= @question.high %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
