<header class="container log-in center w-100 black-bg">
    <div class="logo">
        <%= image_tag 'WLJ-box-solid-red.png', class: 'wlj-logos', alt: 'logo' %>
    </div>
    <h1 class="container title">Admin Log In</h1>
</header>

<div class="container w-100">
<%= form_for(resource, :html => {:class => 'intro sign-in-pages'}, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions form-group remove-margin">
    <%= f.submit "Log in", class: 'form-control admin' %>
  </div>
  <div class="forgot-password">
      <%= render "devise/shared/links" %>
  </div>
<% end %>
