@import "bootstrap";

// Global
* {
    box-sizing: border-box;
    font-family: 'lato';
};

// logos
.wlj-logos {
    height: 60px;
    width: 60px;

    &.small {
        height: 30px;
        width: 30px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
}

// Colors
$grey: rgb(207, 207, 207);
$yellow: rgb(245, 210, 45);
$red: rgb(218, 33, 40);
$red-hover: rgb(237, 39, 47);
$black: rgb(0, 0, 0);
$aqua-d: rgb(153, 213, 205);
$aqua-l: rgb(194, 230, 225);


// Notices and Alerts
.notice, .alert {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20px;
    width: 300px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 15px 15px 60px rgba(1, 1, 2, 0.2);
}

.alert {
    border-left: 5px solid $red;

    &.hidden {
        display: none;
    }
}

.notice {
    border-left: 5px solid #1ba42d;

    &.hidden {
        display: none;
    }
}

// Type alignment
.center {
    text-align: center;
}

//////////////////////////////////////
// Visitors //////////////////////////
//////////////////////////////////////


// home.html

.container-home {
    @media (min-width: 1024px) {
        background-color: $red;
    }
}

h5 {
    max-width: 500px;
    padding: 0px 20px 80px 20px;
}

 form.intro {
    border-radius: 0px;
    padding: 20px;
    background-color: #fff;
    z-index: 300;
    box-shadow: 15px 15px 60px rgba(1, 1, 2, 0.2);
    max-width: 320px;
    margin: auto;

    @media (min-width: 1024px) {
        max-width: 400px;
    }

    &.visitor-intro {
        @media (min-width: 1024px) {
            background-color: $red;
            color: #fff;
            box-shadow: none;
        }
    }

    .form-group.remove-margin {
        margin-bottom: 0px;
    }

    .form-group > textarea {
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
    }

    input[type="text"]:focus {
        border: 2px solid black;
        outline: none;
    }

    input[type="submit"] {
        border: none;
        color: #111;
        border-radius: 0px;
        margin-top: 20px;
        border: 3px solid #111;
        text-transform: uppercase;
        padding-bottom: 30px;
        font-weight: 700;

        &:hover {
            transition: background-color .2s;
            background-color: $black;
            color: #fff;
        }
    }

    .start-button {
        @media (min-width: 1024px) {
            background-color: $red;
        }
    }

    &.sign-in-pages {
        margin-top: -50px;

        input {
            border-radius: 0px;
        }
    }

    .forgot-password {
        text-align: center;
        padding-top: 20px;

        a {
            color: $black;
        }
    }

    .actions-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        a.cancel {
            margin-top: 20px;
            margin-left: 20px;
        }
    }
 }

header {
     background: $red;

     h1.title {
         font-weight: 900;
         padding: 40px 20px 0px 20px;
         z-index: 100;
         color: #fff;

        @media (min-width: 1024px) {
            text-align: center;
        }
     }

     p.description {
        font-size: 18px;
        line-height: 1.7;
        padding: 30px 20px 80px 20px;
        max-width: 490px;
        color: #fff;

        @media (min-width: 1024px) {
            padding: 30px 20px 60px 20px;
        }
     }

    &.black-bg {
        background-color: $black;
         padding: 40px 20px 80px 20px;
    }

    &.white-bg {
        background-color: #fff;
    }

    &.top-border {
        border-top: 10px solid $red;
    }

     &.container.log-in {
         @media (min-width: 768px) {
            max-width: 10000000000px;
         }
         @media (min-width: 576px) {
            max-width: 10000000000px;
         }
    }


     .logo {
         width: 300px;
         margin: auto;
         padding-top: 20px;
         text-align: center;

         @media (min-width: 1024px) {
             text-align: inherit;
             padding-top: 30px;
             width: 100%;
             max-width: 1300px;
             margin-left: auto;
             margin-right: auto;
        }

         &.small-container {
             padding-top: 90px;
         }

         .dd_logo {
             width: 160px;
            @media (min-width: 1024px) {
                margin-left: 30px;
            }
         }
     }
 }


// question.html

.red-top {
    padding-top: 30px;
    border-top: 8px solid $red;
}


.question-container, .results-container {
    max-width: 1300px;
    margin: auto;

    .logo-question, .logo-results {
        width: 300px;
        margin: auto;
        padding-top: 20px;
        text-align: center;

        @media (min-width: 1024px) {
            text-align: inherit;
            padding-top: 30px;
            width: 100%;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
       }
        @media (min-width: 1024px) {
            display: inline;
            text-align: inherit;
       }

        .dd_logo {
            width: 160px;

       //     @media (min-width: 1024px) {
       //         margin-left: 30px;
       //         position: absolute;
       //     }
        }
    }
}

.logo-results {
    @media (max-width: 1024px) {
        width: 160px;
        margin: auto;
    }
}

section.container {
    padding: 0px;
}

section.question {
    border-radius: 0px;
    box-shadow: 15px 15px 60px rgba(1, 1, 2, 0.2);
    background-color: #fff;
    z-index: 300;
    max-width: 300px;
    margin: 40px auto;

    @media (min-width: 1024px) {
        box-shadow: none;
    }

    @media (min-width: 320px) {
       max-width: 90%;
    }

    @media (min-width: 500px) {
       max-width: 480px
    }

    // I copied this from the interwebs
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #111;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 2px solid #111;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: $red;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 100%;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .progress {
        border-radius: 0px;
        height: 8px;
        background-color: #111;

            .progress-bar {
            background-color: $red;
        }
    }

    .wrapper {
        padding: 20px;

        @media (min-width: 1024px) {
           padding: 20px 0px;
        }

        .question-text {
            font-weight: 900;
            font-size: 24px;
        }
        .question-sub-text {
            font-weight: 700;
            font-size: 16px;
            padding-bottom: 10px;
        }
    }

    .prev-next-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 3px solid #111;
        padding-top: 20px;
        margin-top: 20px;

        .page-numbers {
            font-weight: 700;
        }

        a:nth-of-type(1) {
            color: $black;
            transition: border-bottom .2s;

            &:hover {
                text-decoration: none;
                border-bottom: 3px solid #111;
                transform: scale(1.03);
            }
        }

        a:nth-of-type(2) {
            border: 3px solid $red;
            color: $red;
            background-color: #fff;

            &:hover {
                background-color: $red-hover;
                border: 3px solid $red-hover;
                text-decoration: none;
                transition: background-color .2s;
                transform: scale(1.03);
                color: #fff;
            }
        }

        &.reverse {
            flex-direction: row-reverse;
            width: 50%;
            margin-left: 50%;
            border-top: 0px;
            padding-top: 0px;
            margin-top: 0px;

            a {
                border: 3px solid $red;
                color: $red;
                background-color: #fff;

                &:hover {
                    background-color: $red-hover;
                    border: 3px solid $red-hover;
                    text-decoration: none;
                    transition: background-color .2s;
                    transform: scale(1.03);
                    color: #fff;
                }
            }
        }

        a {
            padding: 4px 20px;
            border-radius: 0px;
            text-transform: uppercase;
            font-weight: 700;

            @media (max-width: 400px) {
               padding: 4px 10px;
            }

        }

    }
}

.logo {
    width: 300px;
    margin: auto;
    padding-top: 20px;

    &.small-container {
        padding-top: 90px;
    }
}

// results.html

.save-as-pdf {
        margin-bottom: 40px;
        text-transform: uppercase;

    a {
        color: $red;
        background-color: rgb(255, 255, 255);
        border-width: 3px;
        border-style: solid;
        border-color: $red;
        border-image: initial;
        width: 200px;
        font-weight: 700;
        margin: auto;
        padding: 10px;


        &:hover {
            background-color: $red-hover;
            border: 3px solid $red-hover;
            text-decoration: none;
            transition: background-color .2s;
            transform: scale(1.03);
            color: #fff;
        }
    }
}

.results {
    color: $black;
    text-align: center;

    .score-is {
        font-size: 26px;
        font-weight: 700;
        margin-top: 40px;
    }

    .score-explain {
        font-weight: 400;
        min-width: 320px;
        max-width: 350px;
        margin-top: -5px;
        margin-bottom: 40px;
        font-weight: 700;
    }

    h1#score {
        font-size: 144px;
        font-weight: 700;
        margin-top: -30px;
        margin-bottom: 0px;
        color: #fff;
        -webkit-text-stroke: 5px #111;
        text-stroke: 5px #111;
    }
}

.graph-bg {
    background-color: $black;

    @media (min-width: 800px) {
        padding-bottom: 50px;
    }

    #chartContainer {
        position: relative;
        max-width: 940px;
        display: block;
        width: 100%;
        height: 60vw;
        vertical-align: top;
        max-height: 500px;
        margin: auto;



        img {
            width: 100%;
            padding: 10px;

            @media (min-width: 500px) {
               padding: 20px;
            }

            @media (min-width: 800px) {
                padding: 50px;
            }
        }

        .sCurve {
            display: inline-block;
            position: absolute;
            top: 15.5%;
            left: 8.5%;

            @media (max-width: 470px) {
                top: 15.5%;
                left: 8.5%;
            }

            @media (min-width: 800px) {
                top: 19.5%;
                left: 11%;
            }

            @media (min-width: 900px) {
                top: 20.5%;
                left: 11%;
            }
        }

        circle {
            fill: $red    ;
            stroke: $red;
            stroke-width: 5px;
        }

        #scoreText {
            font-weight: 700;
        }

        svg {
            height: auto;
            width: 83%;

            @media (min-width: 800px) {
                width: 78%;
            }
        }

        path {
            fill: none;
            stroke: #fff;
            stroke-width: 5px;
        }
    }
}

.helpful-links {
    max-width: 770px;
    margin: auto;

    @media (max-width: 500px) {
       padding: 30px 20px;
    }

    @media (min-width: 500px) {
        padding: 40px 40px;
    }

    h2 {
        font-weight: 700;
        padding-bottom: 10px;
    }

    ul {
        list-style: none;
        padding-inline-start: 0px;

        li {
            margin-bottom: 20px;

            a {
                color: $red;
                text-decoration: underline;

                &:hover {
                    color: $red-hover;
                }
            }
        }
    }
}


//////////////////////////////////////
// Admins //////////////////////////
//////////////////////////////////////

table {
    width: 100%;

    tr {
        border-top: 5px solid black;
        height: 40px;

        td:nth-of-type(1) {
            font-weight: 700;
        }
    }

    td {
        padding: 10px;
        vertical-align: top;
        border-left: 1px solid #dbdbdb;

        &:last-of-type {
            display: flex;
            flex-direction: column;

            a {
                text-align: center;
                padding: 6px 14px;
                border-radius: 0px;
                margin-bottom: 10px;

                &:nth-of-type(1), &:nth-of-type(2) {
                    color: #fff;
                    background-color: $black;
                    display: block;
                    margin-bottom: 10px;

                    &:hover {
                        background-color: $red-hover;
                        text-decoration: none;
                        transition: background-color .2s, transform .2s;
                        transform: scale(1.03);
                    }
                }

                &:nth-of-type(3) {
                    color: #fff;
                    background-color: $red;
                    display: block;
                    margin-bottom: 10px;

                    &:hover {
                        background-color: $red-hover;
                        text-decoration: none;
                        transition: background-color .2s, transform .2s;
                        transform: scale(1.03);
                    }
                }
            }
        }
    }

    th {
        padding: 10px;
        position: relative;
        cursor: pointer;

        &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            content: "\f0dc";
            margin-right: 10px;
        }

        &.sorting_asc {
            &:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                content: "\f0de";
                margin-right: 10px;
            }
        }

        &.sorting_desc {
            &:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                content: "\f0dd";
                margin-right: 10px;
            }

        }

        &:empty {
            color: #fff;
            cursor: default;
        }

    }
}

.admin-header {
    background-color: #fff;
    margin: auto;
    padding: 20px 10px 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-weight: 700;
    }

    a.new {
        text-align: center;
        padding: 6px 14px;
        border-radius: 0px;
        margin-bottom: 10px;
        color: #fff;
        background-color: black;
        transition: background-color .2s;
        text-decoration: none;
    }

    a.new.logout {
        background-color: $red;
        margin-left: 5px;
    }

    a.active-toggle {
        border-bottom: 5px $red solid;
        padding: 5px 10px;
        margin-right: 20px;
        font-weight: 700;
        text-decoration: none;
        color: black;
        font-size: 24px;
    }

    a.inactive-toggle {
        padding: 5px 10px;
        margin-right: 20px;
        font-weight: 400;
        text-decoration: none;
        color: black;
        font-size: 24px;
    }
}


.edit-states {
    text-align: center;
    font-weight: 700;
    padding: 40px 0px;
}

.errors {
    list-style: none;
    padding-inline-start: 0px;

    .error {
        padding: 10px;
        border-left: 3px solid $red;
        margin-bottom: 10px;

        @media (min-width: 1024px) {
            border-left: 3px solid #fff;
        }

        i {
            color: $red;
            padding-right: 10px;

            @media (min-width: 1024px) {
                color: #fff;
            }
        }
    }
}

footer {
    margin: auto;
    text-align: center;
    color: $grey;
    padding-bottom: 30px;
    font-size: 14px;

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        img {
            height: 16px;
            width: 16px;
            display: block;
            margin: auto;

            &:hover {
                webkit-transform: scale(1.6);
                transform: scale(1.6);
                transition: -webkit-transform .2s;
                transition: transform .2s;
                transition: transform .2s, -webkit-transform .2s;
            }
        }

        a {
            display: block;
            width: 30px;
            color: #111;

            &:hover {
                text-decoration: underline;
            }

            svg {

            }
        }
    }

    .other-links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        a {
            display: block;
            font-family: 'Source Code Pro' !important;
            color: #111;
            margin-right: 20px;

            &:nth-of-type(3) {
                margin-right: 0px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        font-family: 'Source Code Pro' !important;
        font-weight: bold;
    }

    &.visitor {
        @media (min-width: 1024px) {
            color: #111;
            background-color: $red;
        }
    }

    &.question{
        @media (min-width: 1024px) {
            color: #111;
        }
    }
}

.person, .person-responses {
    box-shadow: 15px 15px 60px rgba(1, 1, 2, 0.2);
    margin-top: 30px;
    margin-bottom: 20px;

    &.container {
        padding: 20px;
    }

    div {
        p {
            &:nth-of-type(1) {
                font-weight: 700;
                margin-bottom: 5px;
            }

            &:nth-of-type(2) {
                margin-bottom: 20px;
            }
        }
    }
}

.link-back {
        color: #fff;
        background-color: #da2128;
        display: block;
        width: 200px;
        padding: 10px;
        margin: auto;

        &:hover {
            background-color: $red-hover;
            text-decoration: none;
            transition: background-color .2s, transform .2s;
            transform: scale(1.03);
        }

    a {
        text-align: center;
        color: #fff;
        display: block;
    }

}

//////////////////////////////////////
// Orgs //////////////////////////
//////////////////////////////////////

.table--orgs {
    tr {
        border-top: none;
        border-bottom: 1px solid #dee2e6;
        height: 40px;

        td:nth-of-type(1) {
            font-weight: 400;
        }
    }

    th {
        cursor: default;
        border: none;

        &:before {
            display: none;
        }
    }

    td {
        border: none;
    }

}

// select2 Styles

.container .select2-container--default .select2-selection--multiple {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid;
    border-radius: 0;
}

.container .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}

.container .select2-selection__choice {
    display: none;
}

// select2 Tag Copies
.tag-selected {
    border: 3px solid;
    padding-right: 6px;
}

.destroy-tag-selected {
    display: inline-block;
    background: rgba(0,0,0,0.1);
    margin-right: 6px;
    padding: 4px 10px;
    &:hover {
        background: rgba(0,0,0,0.2);
        cursor: pointer;
    }
}



// dataTable Styles

.dataTables_length {
    float: left;
    margin-left: 10px;
    position: relative;

    &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "";
        position: absolute;
        left: 70px;
        pointer-events: none;
    }

    select {
        font-weight: 700;
        border: solid 3px;
    }
}

.dataTables_filter {
    float: right;
    text-align: right;
    margin: 0px 10px;

    input {
        margin: 0px 0px 0px 10px;
        border: solid 3px;
    }
}

.dataTables_info {
    clear: both;
    float: left;
    margin-top: 20px;
    padding-top: 0.755em;
    margin-left: 10px;
}

.dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
    margin: 20px 0px;

    .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        color: #333 !important;
        border: 1px solid transparent;
        border-radius: 2px;

        &.previous {

        }

        &.disabled {
            cursor: default;
            color: #d8d8d8 !important;
            border: 1px solid transparent;
            background: transparent;
            box-shadow: none;
        }

        &.current {
            border-radius: 2px;
            color: #fff !important;
            background-color: black;
        }

        &.next {

        }
    }
}

@media print {
  body {
    font-family: 'lato';
  }
}

// Forgot password

.pw-reset {
    border-radius: 0px;
    padding: 0px 20px 20px 20px;
    background-color: #fff;
    z-index: 300;
    box-shadow: 15px 15px 60px rgba(1, 1, 2, 0.2);
    max-width: 320px;
    margin: auto;

    h2 {
        font-weight: 900;
        padding: 40px 20px 20px 20px;
        z-index: 100;
        color: #000;
        text-align: center;
    }

    form input[type="submit"] {
        border: none;
        color: #111;
        border-radius: 0px;
        width: 100%;
        border: 3px solid #111;
        text-transform: uppercase;
        font-weight: 700;

        &:hover {
            transition: background-color .2s;
            background-color: black;
            color: #fff;
        }
    }

    a  {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
}
