<!DOCTYPE html>
<html>
  <head>
    <title>Diagnostic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "https://use.fontawesome.com/releases/v5.0.1/css/all.css" %>

    <%= stylesheet_link_tag    "https://kit.fontawesome.com/a42f33e2f5.js" %>
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" %>
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Source+Code+Pro:700&display=swap" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>
    <%= javascript_include_tag "//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js" %>
    <%= yield :scripts %>
  </head>

  <body>
    <p class="notice hidden"><%= notice %></p>
    <p class="alert hidden"><%= alert %></p>

    <%= yield %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116719293-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-116719293-1")</script>
  </body>
</html>
